@{
    ViewBag.Title = "DoiMatKhau";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - DoiMatKhau</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Template/sb-admin/css/sb-admin.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Đổi mật khẩu </div>
            <div class="card-body">
                <form method="post" action=@Url.Action("DoiMatKhau","Home", new {area = "NguoiDung"})>
                    <input type="text" id="Id" hidden/>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="MatKhau" name="MatKhauHientai" class="form-control" placeholder="Mật khẩu hiện tại" required="required" autofocus="autofocus">
                            <label for="inputTaiKhoan">Mật khẩu hiện tại</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="ReMatKhau" name="MatKhauMoi" class="form-control" placeholder="Mật khẩu mới" required="required">
                            <label for="inputMatKhau">Mật khẩu mới</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="NhapLaiMatKhau" name="NhapLaiMatKhauMoi" class="form-control" placeholder="Nhập lại mật khẩu mới" required="required">
                            <label for="inputMatKhau">Nhập lại mật khẩu mới</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit" onclick="Luu()">Lưu</button>
                    <a class="btn btn-default" style="background-color:#83898B;color:#ffffff; width:358px" href="/NguoiDung/Manage/Index">Quay lại</a>
                </form>

            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Template/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
<script>
    function Luu() {
        var mk = $('#ReMatKhau').val();
        var nlmk = $('#NhapLaiMatKhau').val();
        if (mk.localeCompare(nlmk) == 0) {
            var JsonInput = {
                Id: $('#Id').val(),             
                MatKhau: $('#MatKhau').val(),
                TokenNguoiDung: "111",
                TokenApi:"2222"
            };
             var kq = XuLyThongTinThemCapNhat('@Url.Action("XuLyLuu", "Manage", new { area = "NguoiDung" })', JsonInput);
        }
        else {
            alert('Mật khẩu không đúng!');
        }
    }
    function ChinhSua(Id) {
        ThemCapNhat('@Url.Action("ThongTinThemCapNhat", "Home", new { area = "NguoiDung" })', 'Luu()', Id);
    }
</script>

