

@using Common.Enum;
@{
    ViewBag.Title = "Thông báo khẩn";
    Layout = ChucNang.GiaoDien.SBAdmin;
    ViewBag.active = ChucNang.Ma.QuanLyThongBaoKhan;
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Home",new { area = "Admin" })"><i class="fa fa-tachometer"></i> Bảng điều khiển</a>
    </li>
    <li class="breadcrumb-item active">Quản lý thông báo khẩn</li>
</ol>
<div class="container-fluid p-0">
    <div class="">
        <div class="panel-body">
            <div class="row px-3">
                <div class="col-md-9 kc-0 mb-3">
                    <div class="row pl-3">

                        <div class="col-md-3 plrb-022">
                            <input type="text" name="tuKhoa" id="TuKhoa" class="form-control w-100" placeholder="Tìm thông báo">
                        </div>
                        <div class="col-md-3 plrb-022">
                            <button type="button" id="btnTimKiem" onclick="XuLyTimKiem()" class="btn btn-info"><i class="fa fa-search">&nbsp;</i>Tìm kiếm</button>
                            <button type="button" id="btnLamLai" onclick="XuLyLamLai()" class="btn btn-secondary" title="Tải lại dữ liệu mặc định"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 kc-0 mb-3 canh-le-p">
                    <button id="btnThem" class="btn btn-mac-dinh" onclick="Them()">
                        <i class="fa fa-plus"></i> Thêm mới
                    </button>
                    <button type="button" id="btnXoa" onclick="XuLyXoa()" class="btn btn-danger" disabled><i class="fa fa-trash">&nbsp;</i>Xóa</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="ThongBao_Index"></div>
            <div id="DanhSach_CapNhat">
                @{Html.RenderPartial("_DanhSachPartial");}
            </div>
        </div>
    </div>
</div>
<!--Xem trước -- Modal -->
<div class="modal fade" id="Xem_ModalXemTruoc" role="dialog" @*data-backdrop="static" data-keyboard="false"*@ aria-hidden="true">
    <div class="modal-dialog modal-lg mt-0 mb-0">
        <div class="modal-content">
            <!-- Modal Header -->
            @*<div class="modal-header bg-mac-dinh text-white">
                    <h6 class="modal-title" id="XemModalLabel">Thông tin</h6>
                    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
                </div>*@
            <!-- Modal Body -->
            <div id="XemModalBody" class="modal-body">
            </div>
            <div id="XemModalThongBao" class="mx-3"></div>
            <!-- Modal Footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-close"></i> Đóng
                    </button>
                </div>*@
        </div>
    </div>
</div>
@section styles{

    <style>
        #Xem_ModalXemTruoc .modal-dialog {
            max-width: 22cm !important;
        }

        #Xem_ModalXemTruoc .modal-body {
            height: calc(100% - 10px);
            overflow-y: auto;
        }
    </style>
}
@section Scripts {
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    @*<script src="~/Areas/QuanLyDanhMuc/Contents/HieuMayDinhVi.js"></script>*@
    <script src="~/Areas/ThongBaoKhan/Contents/ThongBaoKhan.js"></script>
    <script>



    </script>
}
